<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rfid_antenna">
	<xacro:property name="w" value="0.25" />
	<xacro:property name="h" value="0.25" />
	<xacro:property name="d" value="0.05" />

	<xacro:macro name="rfid_antenna" params="name_idx ">

		<link name="rfidantenna">
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="${w} ${h} ${d}"/>
				</geometry>
			</collision>

			<visual>
				<origin xyz="0 0 0" rpy="-1.570795 0 0"/>
				<geometry name="antenna_box">
					<box size = "${w} ${h} ${d}"/>
				</geometry>
				<material name="WheelBlack">
					<color rgba="0.117 0.117 0.117 1"/>
				</material>
			</visual>

			<inertial>
				<mass value="1e-5" />
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
			</inertial>
		</link>
	</xacro:macro>
</robot>
